<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>testapi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">testapi</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <p>Todos los derechos reservados a DuocUC 2024</p><br>
    <a href="https://www.instagram.com/duocucsanjoaquin/" target="_blank" rel="noopener noreferrer">Haz click aquí siguenos en Instagram</a><br>
    <a href="https://www.youtube.com/c/DuocUCSedeSanJoaqu%C3%ADn" target="_blank" rel="noopener noreferrer">Haz click aquí siguenos en Youtube</a><br>
    <p>Sede San Joaquin</p>
  </ion-toolbar>
</ion-footer>